@model IEnumerable<RhythmicGymnasticsPortal.Web.Models.Products.ProductsSimpleViewModel>

@{
    ViewBag.Title = "_SimpleProductsPartial";
}

@foreach (var product in Model)
{
        <p class="text-muted">@Html.ActionLink(product.Name, "Details/" + product.Id, "Products")</p>
        <p>
            @if (product.Description.Length <= 30)
            {
                @product.Description;
            }
            @if (product.Description.Length > 30)
                {
                @product.Description.Substring(0, 30);
                <span>... @Html.ActionLink("See Details", "Details/" + product.Id, "Products")</span>
            }
        </p>
}