@model IEnumerable<RhythmicGymnasticsPortal.Web.Models.NewsModels.NewsSimpleViewModel>

@{
    ViewBag.Title = "_SimpleNewsPartial";
}

@foreach (var news in Model)
{
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-8">
                    <p class="text-muted">@Html.ActionLink(news.Title, "Details/" + news.Id, "News")</p>
                    <p>
                        @if (news.Content.Length <= 100)
                        {
                            @news.Content;
                        }
                        @if (news.Content.Length > 100)
                {
                            @news.Content.Substring(0, 100);
                            <span>... @Html.ActionLink("Read More", "Details/" + news.Id, "News")</span>
                        }
                    </p>
                </div>
            </div>
        </li>
    </ul>
}
