@using PagedList.Mvc;
@model PagedList.IPagedList<RhythmicGymnasticsPortal.Web.Models.NewsModels.NewsSimpleViewModel>

@section styles {
    @Styles.Render("~/bundles/pagedlist")
}

@{
    ViewBag.Title = "_SimpleNewsPartial";
}

@foreach (var news in Model)
{
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-success">
            <h4 class="list-group-item-heading">@news.Title</h4>
            <p class="list-group-item-text">@news.Content</p>
        </a>
    </div>
}
<div class="row">
    <div class="col-md-9">
        @Html.Partial("_PagingPartial", Model)
    </div>
</div>

