@model IEnumerable<RhythmicGymnasticsPortal.Web.Models.NewsModels.NewsSimpleViewModel>

@{
    ViewBag.Title = "_SimpleNewsPartial";
}

@foreach (var news in Model)
{
        <p class="text-muted">@Html.ActionLink(news.Title, "Details/" + news.Id, "News")</p>
        <p>
            @if (news.Content.Length <= 30)
            {
                @news.Content;
            }
            @if (news.Content.Length > 30)
                {
                @news.Content.Substring(0, 30);
                <span>... @Html.ActionLink("Read More", "Details/" + news.Id, "News")</span>
            }
        </p>
        <br />
}
