@model RhythmicGymnasticsPortal.Web.Areas.Private.Models.Users.UsersViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="thumbnail">
    <img alt="avatar" class="img-responsive " src=@Html.DisplayFor(model => model.Avatar)>
    <h4 class="text-center">Personal information:</h4>
    <ul class="list-group">
        <li class="list-group-item text-center"><span class="list-group-item-text">@Html.DisplayFor(model => model.UserName)</span></li>
        <li class="list-group-item"><span class="badge">@Html.DisplayFor(model => model.CommentsMade)</span>@Html.DisplayNameFor(model => model.CommentsMade)</li>
    </ul>
</div>
